#header-post
  // position: fixed
  // top: 2rem
  // right: 0
  // display: inline-block
  // float: right
  // z-index: 100
  display: flex;
  justify-content: flex-end;

  a
    background: none
    color: inherit
    text-decoration: none

  a.icon
    background: none

    &:hover
      color: $color-link

  ol
    list-style-type: none

  ul
    display: inline-block
    margin: 0
    padding: 0
    list-style-type: none

    li
      display: inline-block
      margin-right: 15px
      vertical-align: middle

    li:last-child
      margin-right: 0

  #top-icon
    position: fixed
    //left: "calc(50% + %s / 2)" % $page-width
    right: "calc(50% - %s / 2 - 2rem)" % $page-width
    bottom: 2rem

    &:hover
      color: $color-accent-1

  .active
    color: $color-accent-1

  #menu
    margin-top: 0.5rem;

  #nav
    color: $color-accent-1
    letter-spacing: .01em
    font-weight: 200
    font-style: normal
    font-size: 1rem
    display: block

    ul
      line-height: 15px

      a
        margin-right: 15px
        color: $color-accent-1

      a:hover
        underline(5px, $color-accent-1)

      li
        border-right: 2px dotted $color-accent-1

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

  #actions
    margin-top: 0.5rem
    text-align: right
    display: block
    position: relative

    ul
      display: block
      line-height: 1rem

    .info
      text-align: center
      text-wrap: nowrap
      font-size: 0.75rem
      font-style: italic
      width: auto
      background-color: alpha($color-accent-3, 0.2)
      color: $color-text
      padding: 5px 10px
      border-radius: 6px
      position: absolute
      top: calc(1rem + 10px)
      right: 0px
      margin-left: 0px
      z-index: 1

  #share
    display: inline-block

    li
      display: inline-block
      margin-right: 5px

  #toc
    overflow: auto
    margin-top: 1rem
    padding-right: 1rem
    max-width: 20em
    max-height: calc(95vh - 7rem)
    text-align: left
    position: fixed
    left: "calc(50% + %s / 2)" % $page-width
    top: 6rem

    ol.toc
      padding-left: 10px
    
    ol.toc-child
      padding-left: 16px
      list-style-type: square

    a:hover
      color: $color-link

    .toc-level-1
      color: $color-text
      font-size: 1rem

      &:before
        color: $color-accent-1
        content: "#"

    .toc-level-2
      color: $color-text
      font-size: .8rem

    .toc-level-3
      color: $color-meta
      font-size: .7rem

    .toc-level-4
      color: darken($color-meta, 20%)
      font-size: .6rem

    .toc-level-5
      display: none

    .toc-level-6
      display: none

    .toc-number
      display: none

// smartphone + phapblet
@media screen and (max-width: 500px)
  #header-post
    display: none
  
  .content article
    margin-top: 2rem

// @media screen and (max-width: 900px)
//   #header-post
//     #actions
//       display: none

@media screen and (max-width: 1199px)
  #header-post
    #toc, #top-icon
      display: none

@media screen and (min-width: 900px)
  #header-post
    #top-icon-tablet
      display: none !important

// @media screen and (min-width: 1199px)
//   #header-post
//     #actions
//       width: auto

@media print 
  #header-post
    display: none
  #footer-post-container
    display: none
