// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #F8F8F8
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #2373b1
$color-text = #383838
$color-accent-3 = #8c8c8c
$color-accent-2 = #383838
$color-accent-1 = #63a6db
$color-quote = #418ec8
$highlight = hexo-config("highlight") || "atelier-cave-light"
